<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <settings>
            <setting name="MailServer">
                <patch:attribute name="value">127.0.0.1</patch:attribute>
            </setting>
            <!--<setting name="MailServerUserName">
                <patch:attribute name="value"></patch:attribute>
            </setting>-->
            <!--<setting name="MailServerPassword">
                <patch:attribute name="value"></patch:attribute>
            </setting>-->
            <!--<setting name="MailServerPort">
                <patch:attribute name="value"></patch:attribute>
            </setting>-->
            <!--<setting name="MailServerUseSsl">
                <patch:attribute name="value">false</patch:attribute>
            </setting>-->
        </settings>
    </sitecore>
</configuration>