<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Project.Test.Website" description="Test content" dependencies="Foundation.*,Feature.*,Project.Common" extends="Helix.Project">
                    <predicate>
                        <include name="Test.Templates" database="master" path="/sitecore/templates/Project/Test" />
                        <include name="Test.Layouts" database="master" path="/sitecore/layout/layouts/Project/Test" />
                        <include name="Test.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Test" />
                        <include name="Test.Models" database="master" path="/sitecore/layout/models/Project/Test" />                        
                        <include name="Test.Content" database="master" path="/sitecore/content/Test" />
                        <include name="Test.Media" database="master" path="/sitecore/media library/Test" />
                    </predicate>
                    <rolePredicate>
                        <include domain="extranet" pattern="^Project Test .*$" />
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>